{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Organization Members</h4>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">List of Organization Members</div>
            <!-- Add Button (only kept feature) -->
            <div class="pull-right"> 
              <a href="{% url 'orgmember-add' %}" class="btn btn-success btn-rounded">
                <i class="la la-plus"></i> Add Member
              </a>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Student</th>
                  <th>Organization</th>
                  <th>Date Joined</th>
                  <!-- Removed Action column -->
                </tr>
              </thead>
              <tbody>
                {% for object in object_list %}
                <tr>
                  <td>{{ object.student }}</td>
                  <td>{{ object.organization }}</td>
                  <td>{{ object.date_joined|date:"M d, Y" }}</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="3" class="text-center py-4">
                    <p class="text-muted">No members found</p>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% include 'includes/pagination.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}